.backColor{
    background: linear-gradient(36deg, #000000 100%, #05d805 88%)!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: #3eff3e;
    padding-left: 20px;
}

.bColor{
    display: flex;
    justify-content: center;
    padding-left: 580px;

    
}

.bkColor{
    display: flex;
    justify-content: center;
    background: linear-gradient(36deg, #000000 10%, #05d805 88%)!important;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: #000000;
    padding-top: 6px;
}

.text-decorator-none{
    text-decoration: none;
}

.style{
    cursor: "pointer";
}