.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.img2{
    width: 400px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}

.titulo{
    color: white;
    font-Weight: bold;
}

.botao{
    border-color: #3eff3e;
    color: #3eff3e;
}

.ponto{
    background-color: #000000; 
    height: 100vh;
}

.postagens{
background-color: white !important;
}