.h1{
    background-color: #2481bbd8;
    justify-content:center;
    border-radius: 30px;
    padding: 5px 5px 0px 5px;
    margin: 100px;
    }
img{
    border-radius: 30px;
    margin: 30px;
}
.caixa{
    background-image: url(https://i.imgur.com/BLUJVbI.jpg)!important;
    background-repeat: no-repeat!important;
    width:100vh;
    min-height: calc(100vh - 80px)!important;
    background-size: cover!important;
    background-position: center!important;
}
.titulo{
    color:#ffffff!important;
    font-weight: bold!important;
}
.botao{
    border-color: #2481bbd8!important;
    background-color: #2481bbd8!important;
    color: #0c0525!important;
}
.postagens{
    background-color: #ffffff!important;
}

.mario{
    padding-left: 150px;
    padding-bottom: 210px;

}